<div class="header">
    <img src="{{getRutaImagen()}}" alt="Imagen de Cabecera">
    <div class="button-container">
        <button class="button" id="black" (click)="selectButton('button1')"></button>
        <button class="button" id="green" (click)="selectButton('button2')"></button>
        <button class="button" id="white" (click)="selectButton('button3')"></button>
        <button class="button" id="yellow" (click)="selectButton('button4')"></button>
        <button class="button" id="red" (click)="selectButton('button5')"></button>
        <button class="button" id="blue" (click)="selectButton('button6')"></button>
    </div>
</div>
